<h1 class="mt-5">Login/Sign Up</h1>
<h3 class="mt-3">Login</h3>
<form class="login-form">
    <div class="mb-3">
        <input class="form-control" type="email" name="login-email" id="email-login" placeholder="Email">
    </div>
    <div class="mb-3">
        <input class="form-control" type="password" id="password-login" placeholder="Password">
    </div>
    
    <button class="btn btn-primary" type="submit">Login</button>
</form>

<h3 class="mt-5">Sign Up</h3>
<form class="signup-form">
    <div class="mb-3">
        <input class="form-control" type="text" id="username-signup" placeholder="Username">
    </div>
    <div class="mb-3">
        <input class="form-control" type="email" id="email-signup" placeholder="Email">
    </div>
    <div class="mb-3">
        <input class="form-control" type="password" id="password-signup" placeholder="Password">
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>

<script src="./js/login.js"></script>